body {
		text-align:center;
		font: 11px "Lucida Grande", Verdana, Arial, Helvetica;
		margin:0;
		padding: 0;	
		}

/* LAYOUT */
	
#container {
		width:870px;
		margin-right:auto;
		margin-left:auto;
		margin-top:0px;
		padding:0px;
		text-align:left;
		}
		
#content {
		width:520px;
		padding:0px;
		float:left;
		background:#fff;
		margin-right: 10px;  
		}
	
#sidebar {
		margin: 0;
		width:320px;
		padding:0px;
		float:left;
		background:#fff;
		}
		
#header {
		background: #fff url(src/logo.jpg) no-repeat center right;
		width: 265px;
		height: 156px;
		
}

/* GENERAL */
	
h1 {
		font-family: Georgia, serif;
		font-size: 24px;
		padding-bottom: 5px;
		padding-left: 6px;
		padding-top: 4px;
		}

#header h1 {
		font-size:14px;
		padding:10px;
		margin:0px;
}

p {
	color: #363636;
	margin: 0 6px;
	line-height: 18px;
	padding: 6px 0;
	}
	
.hr {
	margin: 6px 6px;
	width: 514px;
	border-bottom: 1px solid #b1b1b1;
}

pre {
	margin-left: 6px;
}

#content pre {
	padding-left: 15px;
	background: url(src/bg_code.gif) no-repeat  0 14px;
	height: 120px;
	width: 300px;
	line-height: 17px;
}

img {
	float: left;
	margin-left: 6px;
	border: 0;
}

a#home {
	display: block;
	width: 265px;
	height: 156px;
	}
	
#header a#home:hover {
	background: none;
	}

/* SIDEBAR */	

#pic {
	background: url(src/pic.jpg) no-repeat top right;
	width: 320px;
	height: 140px;	
}

a.gf {
	padding-left: 16px;
	padding: 2em;
	height: 50px;
	background: transparent url(src/gf.png) no-repeat center left;
}


.box {
	width: 320px;
	background: url(src/bg_box.png) repeat-y top left;	
}

.box p {
	font: bold 11px Georgia, "Lucida Grande", serif;
	line-height: 18px;
	padding:  10px 0 3px 0;
}

.box_bottom {
	margin-bottom: 5px;
	height: 12px;
	width: 320px;
	background: url(src/bg_box_bottom.png) no-repeat top left;	
}

#sidebar pre {
	font-size: 10px;
	width: 320px;
	padding-left: 6px;
	letter-spacing: -1.0px;
	margin: 0;

}

span.link {
	color: #b7b7b7;
	font-family: Georgia, serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 10px;
	font-weight: bold;
	margin-left: 6px;
	}

.sf {
	padding-left: 11px;
	background: #fff url(src/arrow.gif) no-repeat center left;
}


/* COLORS */		

a {
	color: #0b8fc6;
}
#content a:hover {
	background: #00bff3;
	color: #fff;
}
#sidebar a:hover {
	text-decoration: none;
	color:#00bff3;
	background: #fff;
}

#sidebar a.gf:hover {
	background: transparent url(src/gf.png) no-repeat center left;
}

#content h1 {
	color: #acd373;
	border-top: 1px solid #9c9d98;
	border-bottom: 1px solid #9c9d98;
}
		
#sidebar h1 {
	margin-top: 20px;
	color: #00bff3;
	border-bottom: 1px solid #555;	
	}	
